layout {
    pane
    pane size=1 borderless=true {
        plugin location="zellij:bare-bar"
    }
    floating_panes {
        pane {
            x "25%"
            y "25%"
            width "50%"
            height "50%"
        }
    }
}
